<div class="main">

  <div class="main__intro">
    <img src="~images/offshore.svg" class="main__intro__offshore" />
    <h1 class="main__intro__heading">Offshore Journalism</h1>
    <div class="main__intro__body">
      <p>
        The right to be forgotten, court orders, pressure from lawyers and outright censorship by police are poking holes in our collective memory. Dozens of articles are disappearing every month and are forever lost.
      </p>
      <p>
        Our understanding of the past will be dramatically hampered by the chunks of content that disappeared from the web. What if a key element of your next leader's biography was deleted from the archive of your country's newspapers?
      </p>
      <p>
        Solutions exist. National and private archives can step up. Offshore vehicles can be created to keep a copy of a newspaper's archive. But time is running out. This website is a work in progress, part of an ongoing project to analyze the problem in detail and to explore possible solutions. Here is something to start the ball rolling, let us know your experiences and your opinions.       
      </p>
      <p>
        <a href="/data/Offshore Journalism Report.pdf"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download our preliminary report.</a>
      </p>
      <P>
        Your can contact us at <a href="mailto:contact@offshorejournalism.com">contact@offshorejournalism.com</a> - your comments are highly appreciated.
      </P>
    </div>
  </div>

  <form class="main__newsletter form-inline" action="https://tinyletter.com/Offshorejournalism" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/Offshorejournalism', 'popupwindow', 'scrollbars=yes,width=800,height=600'); return true">
    <div class="form-group">
      <label for="tlemail" class="form-control-static mb-sm-1">Receive updates about the project</label><br />
      <input type="text" name="email" id="tlemail" class="form-control  mr-sm-2" placeholder="enter your email" />
      <input type="submit" class="btn btn-primary" value="Subscribe" />
    </div>
    <input type="hidden" value="1" name="embed"/>
  </form>

  <div class="main__category--{{ category.slug }} main__category" ng-repeat="category in $ctrl.categories">
    <div class="main__category__body">
      <h2 class="main__category__body__heading">{{ category.title }}</h2>
      <ul class="list-unstyled">
        <li ng-repeat="item in $ctrl.structure | filter:{category: category.title}" class="main__category__body__item">
          <h3>
            <a ui-sref="main.page(item)">{{ item.name }}</a>
          </h3>
          <p ng-bind-html="item.excerpt | unsafe"></p>
          <a class="btn btn-link main__category__body__item__read-more" ui-sref="main.page(item)">
            <span ng-if="item.file == ''">Coming soon</span>
            <span ng-if="item.file != ''">Read more</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <ui-view class="main__view" ng-if="'main.page' | isState"></ui-view>
</div>
