.main {
  width:100%;
  overflow: hidden;

  &__intro {
    padding:5vw;
    margin-left:40vw;
    max-width:770px;

    &__heading {
      font-size: 2.3rem;
      letter-spacing: -0.05em;
    }
  }

  &__case-studies, &__solutions {
    background: $brand-primary;
    min-height:10rem;
    position:relative;
    width:100%;
    z-index:10;
    padding:5vh 0;

    &:before, &:after {
      content:"";
      background:inherit;
      position: absolute;
      z-index:-1;
      left: -1rem;
      right: -1rem;
      height: 5rem;
      transform: rotate(-2deg);
    }

    &:before {
      top: 0;
      transform-origin: top left;
    }

    &:after {
      bottom: 0;
      transform-origin: bottom right;
    }

    &__body {
      margin:0 5vw;
      margin-left:45vw;
      max-width:770px;
      position: relative;

      &__heading {
        position: absolute;
        right:100%;
        bottom:100%;
        font-size: 4rem;
        transform-origin: bottom right;
        transform: rotate(-90deg);
        padding:$spacer 0;
        margin:0;
        color:rgba(white, 0.7);
        text-align:right;
        white-space: nowrap;
      }

      &__item {
        color:white;
        padding-bottom:$spacer * 2  ;

        a {
          color:inherit;
        }

        &__read-more, &__read-more:hover {
          text-transform: uppercase;
          border:3px solid white;
          font-weight: bolder;
          font-size:0.8em;
        }
      }
    }
  }

  &__solutions {
    z-index:20;
    background:$brand-secondary;

    h3 {
      color: mix($brand-secondary, $body-color, 40);
    }

    &:after {
      display: none;
    }
  }

  &__view {
    position: relative;
    z-index: 100;
    @include transition(700ms);

    &.ng-leave.ng-leave-active,
    &.ng-enter {
      opacity: 0;
    }

    &.ng-leave, &.ng-enter-active {
      opacity: 1;
    }
  }
}
