<div class="main">

  <div class="main__intro">
    <img src="~images/offshore.svg" class="main__intro__offshore" />
    <h1 class="main__intro__heading">Offshore Journalism</h1>
    <div class="main__intro__body">
      Ben skywalker darth kit. Organa hutt darth leia solo jawa.
      Organa hoth moff wicket sidious organa wampa.
      Sidious organa darth ahsoka droid jade gamorrean ackbar calamari.
    </div>
  </div>

  <form class="main__newsletter form-inline" action="https://tinyletter.com/Offshorejournalism" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/Offshorejournalism', 'popupwindow', 'scrollbars=yes,width=800,height=600'); return true">
    <div class="form-group">
      <label for="tlemail" class="form-control-static mb-sm-1">Be informed when we release our final report</label><br />
      <input type="text" name="email" id="tlemail" class="form-control  mr-sm-2" placeholder="enter your email" />
      <input type="submit" class="btn btn-primary" value="Subscribe" />
    </div>
    <input type="hidden" value="1" name="embed"/>
  </form>

  <div class="main__category--{{ category.slug }} main__category" ng-repeat="category in $ctrl.categories">
    <div class="main__category__body">
      <h2 class="main__category__body__heading">{{ category.title }}</h2>
      <ul class="list-unstyled">
        <li ng-repeat="item in $ctrl.structure | filter:{category: category.title}" class="main__category__body__item">
          <h3>
            <a ui-sref="main.page(item)">{{ item.name }}</a>
          </h3>
          <p ng-bind-html="item.excerpt | unsafe"></p>
          <a class="btn btn-link main__category__body__item__read-more" ui-sref="main.page(item)">
            Read more
          </a>
        </li>
      </ul>
    </div>
  </div>

  <ui-view class="main__view" ng-if="'main.page' | isState"></ui-view>
</div>
