<div class="main">

  <div class="main__intro">
    <img src="/images/offshore.svg" class="main__intro__offshore" />
    <h1 class="main__intro__heading">Offshore Journalism</h1>
    <div class="main__intro__body" ng-bind-html="$ctrl.intro.html | unsafe"></div>
  </div>

  <form class="main__newsletter form-inline" action="https://tinyletter.com/Offshorejournalism" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/Offshorejournalism', 'popupwindow', 'scrollbars=yes,width=800,height=600'); return true">
    <div class="form-group">
      <label for="tlemail" class="form-control-static mb-sm-1">Enter your email address</label><br />
      <input type="text" name="email" id="tlemail" class="form-control  mr-sm-2" />
      <input type="submit" class="btn btn-primary" value="Subscribe" />
    </div>
    <input type="hidden" value="1" name="embed"/>
  </form>

  <div class="main__case-studies">
    <div class="main__case-studies__body">
      <h2 class="main__case-studies__body__heading">Case studies</h2>
      <ul class="list-unstyled">
        <li ng-repeat="item in $ctrl.structure | filter:{category: 'Case studies'}" class="main__case-studies__body__item">
          <h3>
            <a ui-sref="main.page(item)">{{ item.name }}</a>
          </h3>
          <p ng-bind-html="item.excerpt | unsafe"></p>
          <a class="btn btn-link main__case-studies__body__item__read-more" ui-sref="main.page(item)">
            Read more
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main__solutions">
    <div class="main__solutions__body">
      <h2 class="main__solutions__body__heading">Solutions</h2>
      <ul class="list-unstyled">
        <li ng-repeat="item in $ctrl.structure | filter:{category: 'Solutions'}" class="main__solutions__body__item">
          <h3>
            <a ui-sref="main.page(item)">{{ item.name }}</a>
          </h3>
          <p ng-bind-html="item.excerpt | unsafe"></p>
          <a class="btn btn-link main__case-studies__body__item__read-more" ui-sref="main.page(item)">
            Read more
          </a>
        </li>
      </ul>
    </div>
  </div>

  <ui-view class="main__view" ng-if="'main.page' | isState"></ui-view>
</div>
